@model GMS.Web.DBContext.Member

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanchAcc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanchAcc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TellNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TellNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberShipType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberShipType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
